

#ve32418 .Table {
  display-opts: retainnewline;
  wrap-text: normal;
}
#ve24873 .paragraph5 {
  text-align: center;
}
#ve28641 .span62 {
  font-weight: bold;
  font-size: 14pt;
}
#ve3575 .ReportElementContainer {
  padding: 8px;
}
#ve27632 .paragraph3 {
  text-align: center;
}
#ve27632 .paragraph10 {
  text-align: center;
}
#ve27632 .paragraph16 {
  text-align: center;
}
#ve27632 .paragraph15 {
  text-align: center;
}
#ve32414 .Table {
  display-opts: retainnewline;
  wrap-text: normal;
}
#vi2167 .ReportPagePadding {
  padding: 8px;
}
#ve3944 .span34 {
  font-family: arial,sans-serif;
  font-weight: bold;
  font-size: 14pt;
}
#ve3525 .span69 {
  font-family: arial,sans-serif;
  font-weight: bold;
  font-size: 14pt;
}
#ve13609 .span51 {
  font-weight: bold;
}
#ve1044 .ReportElementContainer {
  padding: 8px;
}
#ve8898 .span52 {
  font-weight: bold;
}
#ve3525 .paragraph32 {
  text-align: center;
}
#ve750 .ListTable {
  color: #000000;
}
#ve750 .tableColumnbi761 {
  width: 100px;
}
#vi27675 .ReportPagePadding {
  padding: 8px;
}
#ve28641 .paragraph2 {
  text-align: center;
}
#ve11305 .span49 {
  font-weight: bold;
}
#ve750 .tableColumnbi760 {
  width: 79px;
}
#ve11305 .span48 {
  font-weight: bold;
}
#ve11305 .span47 {
  font-style: italic;
}
#ve750 .tableColumnbi762 {
  width: 129px;
}
#ve11305 .span46 {
  font-weight: bold;
}
#ve13609 .span33 {
  font-size: 24pt;
}
#ve27045 .TextInput {
  color: #1C1C1C;
  font-family: Arial;
  font-size: 14pt;
}
#ve3459 .paragraph30 {
  text-align: center;
}
#ve27618 .span54 {
  font-weight: bold;
  font-size: 14pt;
}
#ve750 .span11 {
  font-family: arial,sans-serif;
  font-weight: bold;
  font-size: 14pt;
}
#ve27618 .paragraph38 {
  text-align: center;
}
#ve27045 .span45 {
  font-weight: bold;
  font-size: 10pt;
}
#vi498 .ReportPagePadding {
  padding: 8px;
}
#ve27618 .paragraph33 {
  text-align: center;
}
#ve27045 .span44 {
  font-weight: bold;
}
#ve27045 .span43 {
  font-weight: bold;
}
#ve27673 .paragraph1 {
  text-align: center;
}
#ve3944 .paragraph29 {
  text-align: center;
}
#ve2325 .ReportElementContainer {
  padding: 8px;
}
#ve11305 .span50 {
  font-weight: bold;
}
#ve8898 .span42 {
  font-size: 12pt;
}
#ve11305 .span56 {
  font-weight: bold;
}
#ve8898 .span41 {
  font-size: 12pt;
}
#ve11305 .span55 {
  font-weight: bold;
}
#ve8898 .span40 {
  font-weight: bold;
}
#ve2325 .span29 {
  font-family: arial,sans-serif;
  font-weight: bold;
  font-size: 14pt;
}
#ve11305 .span53 {
  font-weight: bold;
}
#ve18564 .paragraph23 {
  text-align: center;
}
#ve27618 .span80 {
  font-family: Verdana;
  font-weight: bold;
  font-size: 20pt;
}
#ve25373 .ReportElementContainer {
  padding: 8px;
}
#cd30793 .If {
  color: #BC1F25;
}
#ve11305 .span19 {
  font-size: 24pt;
}
#cd28699 .If {
  color: #1B1B1B;
}
#ve24528 .ReportElementContainer {
  padding: 8px;
}
#ve27618 .span86 {
  font-family: AvenirNext;
  font-weight: bold;
  font-size: 18pt;
}
#ve27078 .tableColumnbi1179 {
  width: 109px;
}
#ve27078 .tableColumnbi1177 {
  width: 78px;
}
#ve27618 .span82 {
  font-family: AvenirNext;
  font-weight: bold;
  font-size: 20pt;
}
#ve32422 .Table {
  display-opts: retainnewline;
  wrap-text: normal;
}
#ve27078 .tableColumnbi1176 {
  width: 313px;
}
#ve27078 .tableColumnbi1175 {
  width: 63px;
}
#ve27078 .tableColumnbi1174 {
  width: 106px;
}
#ve1028 .ReportElementContainer {
  padding: 8px;
}
#ve27618 .span85 {
  font-family: AvenirNext;
  font-weight: bold;
  font-size: 20pt;
}
#ve27078 .tableColumnbi1182 {
  width: 70px;
}
#ve27078 .tableColumnbi1181 {
  width: 69px;
}
#ve25373 .paragraph6 {
  text-align: center;
}
#ve27632 .paragraph36 {
  text-align: center;
}
#ve3575 .span68 {
  font-family: arial,sans-serif;
  font-weight: bold;
  font-size: 14pt;
}
#ve27604 .span16 {
  font-weight: bold;
  font-size: 20pt;
}
#ve750 .paragraph9 {
  text-align: center;
}
#vi8895 .ReportPagePadding {
  padding: 32px;
}
#ve27632 .paragraph39 {
  text-align: center;
}
#ve2342 .ReportElementContainer {
  padding: 8px;
}
#ve27648 .paragraph12 {
  text-align: center;
}
#ve27078 .span21 {
  font-family: arial,sans-serif;
  font-weight: bold;
  font-size: 14pt;
}
#ve18564 .ReportElementContainer {
  padding: 8px;
}
#ve3944 .ReportElementContainer {
  padding: 8px;
}
#ve3525 .ReportElementContainer {
  padding: 8px;
}
#ve27618 .span77 {
  font-family: Verdana;
  font-weight: bold;
  font-size: 22pt;
}
#ve27618 .span73 {
  font-weight: bold;
  font-size: 22pt;
}
#ve24873 .ReportElementContainer {
  padding: 8px;
}
#ve27078 .tableColumnbi1173 {
  width: 110px;
}
#ve27078 .tableColumnbi1172 {
  width: 50px;
}
#ve27078 .tableColumnbi27073 {
  width: 74px;
}
#ve27078 .tableColumnbi1171 {
  width: 164px;
}
#ve2342 .paragraph27 {
  text-align: center;
}
#ve3430 .span20 {
  font-size: 10pt;
}
#ve27632 .paragraph20 {
  text-align: center;
}
#ve27632 .paragraph25 {
  text-align: center;
}
#cd28711 .If {
  color: #1B1B1B;
}
#ve3430 .ReportElementContainer {
  padding: 8px;
}
#ve27632 .paragraph28 {
  text-align: center;
}
#cd28692 .If {
  color: #1B1B1B;
}
#vi3418 .ReportPagePadding {
  padding: 8px;
}
#ve27604 .paragraph35 {
  text-align: center;
}
#ve27604 .paragraph34 {
  text-align: center;
}
#ve27673 .span1 {
  font-size: 10pt;
}
#ve24528 .span23 {
  font-size: 10pt;
}
#ve27604 .span89 {
  font-weight: bold;
  font-size: 18pt;
}
#ve24528 .span24 {
  font-family: AvenirNext;
}
#ve24528 .span25 {
  font-weight: bold;
}
#ve27604 .span81 {
  font-family: AvenirNext;
  font-weight: bold;
  font-size: 20pt;
}
#ve27618 .paragraph4 {
  text-align: center;
}
#cd28685 .If {
  color: #1B1B1B;
}
#cd30799 .If {
  color: #BC1F25;
}
#ve24873 .span3 {
  font-size: 10pt;
}
#ve27632 .span88 {
  font-weight: bold;
  font-size: 18pt;
}
#ve27632 .span83 {
  font-family: AvenirNext;
  text-decoration: underline;
  font-weight: bold;
  font-size: 20pt;
}
#cd26456 .If {
  color: #90B328;
}
#cd30802 .If {
  color: #BC1F25;
}
#ve24873 .span4 {
  font-family: arial,sans-serif;
}
#ve27632 .span84 {
  font-family: AvenirNext;
  font-weight: bold;
  font-size: 20pt;
}
#ve750 .ReportElementContainer {
  padding: 8px;
}
#ve27618 .span91 {
  font-family: AvenirNext;
  font-weight: bold;
  font-size: 14pt;
}
#ve24873 .span8 {
  font-family: AvenirNext;
}
#ve3430 .paragraph7 {
  text-align: center;
}
#ve24873 .span9 {
  font-weight: bold;
}
#ve13532 .span7 {
  font-weight: bold;
}
#ve13532 .span2 {
  font-size: 24pt;
}
#ve18564 .span27 {
  font-family: arial,sans-serif;
  font-weight: bold;
  font-size: 14pt;
}
#ve27604 .span90 {
  font-weight: bold;
  font-size: 14pt;
}
#ve13532 .span30 {
  font-weight: bold;
}
#cd30790 .If {
  color: #BC1F25;
}
#ve750 .TableTotals {
  color: #000000;
}
#ve28641 .span93 {
  font-family: AvenirNext;
  font-weight: bold;
  font-size: 14pt;
}
#ve27632 .span79 {
  font-family: Verdana;
  font-weight: bold;
  font-size: 20pt;
}
#ve27632 .span76 {
  font-family: Verdana;
  font-weight: bold;
  font-size: 22pt;
}
#ve27632 .span75 {
  font-weight: bold;
  font-size: 22pt;
}
#ve28641 .span18 {
  font-family: AvenirNext;
  font-weight: bold;
  font-size: 22pt;
}
#ve750 .tableColumncv24467 {
  width: 114px;
}
#ve3459 .span67 {
  font-family: arial,sans-serif;
  font-weight: bold;
  font-size: 14pt;
}
#ve27604 .paragraph11 {
  text-align: center;
}
#ve27604 .paragraph13 {
  text-align: center;
}
#ve11305 .span57 {
  font-weight: bold;
}
#ve13532 .span22 {
  font-weight: bold;
}
#ve27078 .paragraph19 {
  text-align: center;
}
#ve750 .tableColumnbi758 {
  width: 297px;
}
#ve750 .tableColumnbi24534 {
  width: 100px;
}
#ve750 .tableColumnbi757 {
  width: 67px;
}
#ve750 .tableColumnbi24533 {
  width: 84px;
}
#ve750 .tableColumnbi24532 {
  width: 84px;
}
#ve3459 .ReportElementContainer {
  padding: 8px;
}
#ve750 .tableColumnbi759 {
  width: 128px;
}
#ve750 .tableColumnbi24531 {
  width: 59px;
}
#ve750 .tableColumnbi754 {
  width: 51px;
}
#ve27618 .paragraph17 {
  text-align: center;
}
#ve28641 .span5 {
  font-family: AvenirNext;
  font-weight: bold;
  font-size: 16pt;
}
#ve8898 .span35 {
  font-size: 12pt;
}
#ve28641 .span87 {
  font-family: AvenirNext;
  font-weight: bold;
  font-size: 22pt;
}
#ve27618 .paragraph26 {
  text-align: center;
}
#ve25373 .span13 {
  font-size: 10pt;
}
#ve28641 .paragraph37 {
  text-align: center;
}
#ve27618 .paragraph24 {
  text-align: center;
}
#ve8898 .span32 {
  font-size: 12pt;
}
#ve8898 .span39 {
  font-size: 12pt;
}
#ve1044 .GridLines {
  line-thickness: 1px;
  line-color: #1C1C1C;
}
#ve8898 .span38 {
  font-size: 12pt;
}
#ve27618 .paragraph21 {
  text-align: center;
}
#ve8898 .span37 {
  font-size: 12pt;
}
#ve2342 .span31 {
  font-family: arial,sans-serif;
  font-weight: bold;
  font-size: 14pt;
}
#ve8898 .span36 {
  font-size: 12pt;
}
#ve27673 .ReportElementContainer {
  padding: 8px;
}
#ve27604 .paragraph22 {
  text-align: center;
}
#ve13609 .span58 {
  font-weight: bold;
}
#ve27604 .span74 {
  font-size: 22pt;
}
#ve13609 .span59 {
  font-weight: bold;
}
#ve27632 .span92 {
  font-weight: bold;
  font-size: 14pt;
}
#ve27663 .ReportElementContainer {
  padding: 8px;
}
#ve13532 .span15 {
  font-weight: bold;
}
#ve750 .Table {
  color: #000000;
  font-size: 9pt;
  wrap-text: normal;
}
#ve27604 .span78 {
  font-family: Verdana;
  font-weight: bold;
  font-size: 20pt;
}
#ve27632 .span6 {
  font-weight: bold;
  font-size: 16pt;
}
#ve27648 .ReportElementContainer {
  padding: 8px;
}
#ve3575 .paragraph31 {
  text-align: center;
}
#ve750 .Header {
  color: #000000;
  font-size: 9pt;
}
#ve27648 .span14 {
  font-family: arial,sans-serif;
  font-weight: bold;
  font-size: 14pt;
}
#ve27604 .span72 {
  font-weight: bold;
  font-size: 22pt;
}
#ve27632 .span17 {
  font-weight: bold;
  font-size: 20pt;
}
#ve27618 .paragraph14 {
  text-align: center;
}
#ve24873 .span12 {
  font-weight: bold;
}
#ve3459 .Pie {
  ring-size: 0.2;
}
#ve8898 .span28 {
  font-weight: bold;
}
#ve8898 .span26 {
  font-size: 24pt;
}
#ve27604 .paragraph18 {
  text-align: center;
}
#ve28641 .paragraph41 {
  text-align: center;
}
#ve28641 .paragraph40 {
  text-align: center;
}
#vi901 .ReportPagePadding {
  padding: 8px;
}
#ve13609 .span60 {
  font-style: italic;
}
#ve24528 .paragraph8 {
  text-align: center;
}
#ve24873 .span10 {
  font-weight: bold;
}

			